body{
    background: #f8f8f8 !important;
}
.sapi-color-bg{
    background: var(--sapi) !important;
}
:root{
    --sapi:#F2F2F2;
    --m1-azul: #0010BD;/*rgb(0, 16, 189)*/
    --m2-azul: #000A80;/*rgb( 0, 10, 128)*/
    --m3-azul: #0015FF;/*rgb(0,21,255)*/
    --m4-azul: #000E9C;/*rgb(0,14,156)*/
    --m5-azul: #0013E6;/*rgb(0,19,230)*/
    --m1-morado: #812DA6;/*rgb(129, 45, 166)*/
    --m2-morado: #9636BF;/*rgb(150, 54, 191)*/
    --m3-morado: #180226;/*rgb(24, 2, 38)*/
    --m4-morado: #2A0940;/*rgb(42, 9, 64)*/
    --m5-morado: #4E1673;/*rgb(78, 22, 115)*/
    --m1-white: #E1E6FA;/*rgb(225, 230, 250)*/
    --m2-white: #C4D7ED;/*rgb(196, 215, 237)*/
    --m3-white: #ABC8E2;/*rgb(171, 200, 226)*/
    --m4-white: #375D81;/*rgb(55, 93, 129)*/
    --m5-white: #183152;/*rgb(24, 49, 82)*/
}
.btn-a-marte1{
    background: var(--m1-azul) !important;
    color:white !important;
}.btn-a-marte2{
    background: var(--m2-azul) !important;
    color:white !important;
}.btn-a-marte3{
    background: var(--m3-azul) !important;
    color:white !important;
}.btn-a-marte4{
    background: var(--m4-azul) !important;
    color:white !important;
}.btn-a-marte5{
    background: var(--m5-azul) !important;
    color:white !important;
}
.btn-m-marte1{
    background: var(--m1-morado) !important;
    color:white !important;
}.btn-m-marte2{
    background: var(--m2-morado) !important;
    color:white !important;
}.btn-m-marte3{
    background: var(--m3-morado) !important;
    color:white !important;
}.btn-m-marte4{
    background: var(--m4-morado) !important;
    color:white !important;
}.btn-m-marte5{
    background: var(--m5-morado) !important;
    color:white !important;
}
.btn-w-marte1{
    background: var(--m1-white) !important;
    color:black !important;
}.btn-w-marte2{
    background: var(--m2-white) !important;
    color:black !important;
}.btn-w-marte3{
    background: var(--m3-white) !important;
    color:black !important;
}.btn-w-marte4{
    background: var(--m4-white) !important;
    color:black !important;
}.btn-w-marte5{
    background: var(--m5-white) !important;
    color:black !important;
}
.btn-a-marte1[type="button"]:focus,
.btn-a-marte1[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(0, 16, 189, 0.5) !important;
}.btn-a-marte2[type="button"]:focus,
.btn-a-marte2[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(0, 10, 128, 0.5) !important;
}.btn-a-marte3[type="button"]:focus,
.btn-a-marte3[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(0, 21, 255, 0.5) !important;
}.btn-a-marte4[type="button"]:focus,
.btn-a-marte4[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(0, 14, 156, 0.5) !important;
}.btn-a-marte5[type="button"]:focus,
.btn-a-marte5[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(0, 19, 230, 0.5) !important;
}

.btn-m-marte1[type="button"]:focus,
.btn-m-marte1[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(129, 45, 166, 0.5) !important;
}.btn-m-marte2[type="button"]:focus,
.btn-m-marte2[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(150, 54, 191, 0.5) !important;
}.btn-m-marte3[type="button"]:focus,
.btn-m-marte3[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(24, 2, 38, 0.5) !important;
}.btn-m-marte4[type="button"]:focus,
.btn-m-marte4[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(42, 9, 64, 0.5) !important;
}.btn-m-marte5[type="button"]:focus,
.btn-m-marte5[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(78, 22, 115, 0.5) !important;
}

.btn-w-marte1[type="button"]:focus,
.btn-w-marte1[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(225, 230, 250, 0.5) !important;
}
.btn-w-marte2[type="button"]:focus,
.btn-w-marte2[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(196, 215, 237, 0.5) !important;
}
.btn-w-marte3[type="button"]:focus,
.btn-w-marte3[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(171, 200, 226, 0.5) !important;
}
.btn-w-marte4[type="button"]:focus,
.btn-w-marte4[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(55, 93, 129, 0.5) !important;
}
.btn-w-marte5[type="button"]:focus,
.btn-w-marte5[type="submit"]:focus{
    box-shadow:0 0 0 .2rem rgba(24, 49, 82, 0.5) !important;
}

:root{
    --bg1-white: #E1E6FA;
    --bg2-white: #C4D7ED;
    --bg3-white: #ABC8E2;
    --bg4-white: #375D81;
    --bg5-white: #183152;
}
.bg-w-marte1{
    background: var(--bg1-white) !important;
    color: black !important;
    font-size: 13px;
}.bg-w-marte2{
    background: var(--bg2-white) !important;
    color: black !important;
    font-size: 13px;
}.bg-w-marte3{
    background: var(--bg3-white) !important;
    color: black !important;
    font-size: 13px;
}.bg-w-marte4{
    background: var(--bg4-white) !important;
    color: black !important;
    font-size: 13px;
}.bg-w-marte5{
    background: var(--bg5-white) !important;
    color: black !important;
    font-size: 13px;
}
.bg-a-marte1{
    background: var(--m1-azul) !important;
    color: white !important;
    font-size: 13px;
}.bg-a-marte2{
    background: var(--m2-azul) !important;
    color: white !important;
    font-size: 13px;
}.bg-a-marte3{
    background: var(--m3-azul) !important;
    color: white !important;
    font-size: 13px;
}.bg-a-marte4{
    background: var(--m4-azul) !important;
    color: white !important;
    font-size: 13px;
}.bg-a-marte5{
    background: var(--m5-azul) !important;
    color: white !important;
    font-size: 13px;
}
.bg-m-marte1{
    background: var(--m1-morado) !important;
    color: white !important;
    font-size: 13px;
}.bg-m-marte2{
    background: var(--m2-morado) !important;
    color: white !important;
    font-size: 13px;
}.bg-m-marte3{
    background: var(--m3-morado) !important;
    color: white !important;
    font-size: 13px;
}.bg-m-marte4{
    background: var(--m4-morado) !important;
    color: white !important;
    font-size: 13px;
}.bg-m-marte5{
    background: var(--m5-morado) !important;
    color: white !important;
    font-size: 13px;
}

/*########   FORM-CONTROL   ######*/
.fc-a-marte1[type="text"]:focus{
    /* border-color: var(--m1-azul) !important; */
    box-shadow:0 0 0 .1rem rgba(0, 16, 189, 0.5) !important;
}.fc-a-marte2[type="text"]:focus{
    /* border-color: var(--m2-azul) !important; */
    box-shadow:0 0 0 .1rem rgba( 0, 10, 128, 0.5) !important;
}.fc-a-marte3[type="text"]:focus{
    /* border-color: var(--m3-azul) !important; */
    box-shadow:0 0 0 .1rem rgba(0,21,255, 0.5) !important;
}.fc-a-marte4[type="text"]:focus{
    /* border-color: var(--m4-azul) !important; */
    box-shadow:0 0 0 .1rem rgba(0,14,156, 0.5) !important;
}.fc-a-marte5[type="text"]:focus{
    /* border-color: var(--m5-azul) !important; */
    box-shadow:0 0 0 .1rem rgba(0,19,230, 0.5) !important;
}.fc-a-marte5{
    border: 2px solid var(--m5-azul);
    border-color: var(--m5-azul) !important;
}.input-group-text{
    background:  var(--m5-azul) !important;
}